body {
	background: url('bg.jpeg');
	background-size: cover;
}

#core {
	height: 150px;
	width: 150px;
	background: url('space_core.png') no-repeat;
	background-size: cover;

	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
}
